$font-stack:'Rubik';
// $font-stack: Arial, Helvetica, sans-serif;
$bg-color: #F6F6F6;
$foot-color:#F8F8F8;

$red-color: #F53838;
$icon-size: 3em;
$grey-color:#bbbbbb;
$circle-color: #FFECEC;
$hr-color:#EEEFF2;
$grey-shadow:#0D1025;
$point-color:#DDE0E4;