.footer {
    background-color: $foot-color;
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    padding: 0px 8% 80px 8%;
}

.foot1{
    width: 40%;
}
.foot2{
    width: 15%;
}
.foot3{
    width: 15%;
}
.foot4{
    width: 15%;
}