.firstList {
    list-style-image: url(../img/icons/tick.svg);
}

li {
    font-size: 22px;
    line-height: 50px;
    // font-size: 21px;
}

.secondList {
    list-style-image: url(../img/icons/tick2.svg);
}